* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-cyan: hsl(167, 40%, 24%);
	--dark-blue: hsl(198, 62%, 26%);
	--dark-moderate-cyan: hsl(168, 34%, 41%);
	--very-dark-blue: hsl(212, 27%, 19%);
	--very-greyish-blue: hsl(213, 9%, 39%);
	--dark-greyish-blue: hsl(232, 10%, 55%);
	--greyish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Barlow', sans-serif;
	font-size: 1.8rem;
}

.title {
	font-family: 'Fraunces', serif;
}

header {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em 3em;
	color: var(--white);
	background-image: url(./images/desktop/image-header.jpg);
	background-position: center;
	background-size: cover;
}

.logo {
	margin: 1em;
}

.nav-btn {
	display: none;
}

.options-box-desktop {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.nav-option-desktop {
	margin: 1em;
	padding: 0.5em 2em;
	transition: 0.3s;
}

.nav-option-desktop:last-child {
	border-radius: 30px;
	background-color: var(--white);
	color: var(--very-dark-blue);
}
.nav-option-desktop:hover {
	cursor: pointer;
	border-radius: 30px;
	background-color: hsl(200, 100%, 71%);
	color: var(--white);
}

.arrow-div {
	position: absolute;
	top: 25%;
	transform: translateX(-50%);
	left: 50%;
	padding: 0 auto;
}

.header-title {
	margin-bottom: 2em;
	font-size: 5.2rem;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.arrow {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	height: 60%;
}

/* ************ MAIN ********************/

/* **********ABOUT********* */
.about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--white);
}

.text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em 7em;
	width: 50%;
	text-align: left;
}

.box-title {
	font-size: 6.2rem;
	font-family: 'Fraunces', serif;
}

.text {
	margin: 2em 0;
	line-height: 2em;
}

.learn {
	position: relative;
	width: 100%;
	z-index: 0;
}

.learn-text {
	z-index: 10;
}

.line {
	position: absolute;
	top: 15px;
	left: -10px;
	width: 125px;
	height: 15px;
	border-radius: 10px;
	z-index: -10;
}

.line-one {
	background-color: hsl(51, 69%, 82%);
}

.line-two {
	background-color: hsl(7, 100%, 86%);
}

.learn:hover .learn-text {
	cursor: pointer;
}
.learn:hover .line-one {
	cursor: pointer;
	background-color: yellow;
}

.learn:hover .line-two {
	cursor: pointer;
	background-color: tomato;
}
/* .learn-text:hover > .line{
	background-color: var(--yellow);
} */

.img-box {
	width: 50%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.image-one {
	background-image: url(./images/desktop/image-transform.jpg);
}

.box-two {
	flex-direction: row-reverse;
}
.image-two {
	background-image: url(./images/desktop/image-stand-out.jpg);
}

/* *************PRODUCT************* */
.product {
	display: flex;
	flex-direction: row;
}

.product-box {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	width: 50%;
	min-height: 90vh;
	background-position: center;
	background-size: cover;
}

.product-text-box {
	width: 100%;
	height: fit-content;
	padding: 2em 9.5em;
	text-align: center;
	line-height: 2em;
}

.product-title {
	padding: 1em;
}

.graphic {
	background-image: url(./images/desktop/image-graphic-design.jpg);
}

.graphic-text-box {
	color: var(--dark-cyan);
}
.photography-text-box {
	color: var(--dark-blue);
}
.photography {
	background-image: url(./images/desktop/image-photography.jpg);
}

/* ************OPINIONS************** */

.opinions {
	width: 100%;
	text-align: center;
}

.opinions-title {
	padding: 2em;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: var(--greyish-blue);
}

.clients-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1em 3em;
}

.client {
	margin: 1.5em;
}

.client-photo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 2em;
}

.client-opinion {
	padding: 1em;
	line-height: 2em;
	color: var(--very-dark-blue);
}

.client-details {
	margin: 2em;
}

.client-name {
	color: var(--very-dark-blue);
}

.client-position {
	margin: 0.7em;
	font-size: 1.4rem;
	color: var(--greyish-blue);
}

.gallery-desktop {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.gallery-mobile {
	display: none;
}

.gallery-img {
	height: 400px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.footer {
	text-align: center;
	/* height: 80vh; */
	padding: 2em;
	background-color: hsl(168, 37%, 53%);
}

.footer-title {
	margin: 1em;
	color: var(--dark-cyan);
}

.footer-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}

.footer-nav li {
	margin: 1em 2em;
	color: var(--dark-moderate-cyan);
}

li {
	transition: 0.3s;
}

li:hover {
	cursor: pointer;
	color: var(--white);
}

.social-icon {
	width: 20px;
	height: 100%;
	margin: 3em 0.5em;
}

.social-icon:hover {
	cursor: pointer;
	color: var(--white);
}

/* ********MEDIa****************/

@media (max-width: 750px) {
	header {
		position: relative;
		height: 100vh;
		padding: 1em;
		justify-content: unset;
		align-items: start;
		background-image: url(images/mobile/image-header.jpg);
		z-index: 0;
	}

	.logo {
		margin: 0;
	}

	.nav-btn {
		display: block;
		position: absolute;
		right: 20px;
		background: transparent;
		border: none;
	}

	.navigation-desktop {
		display: none;
	}

	.navigation-mobile {
		display: block;
		position: absolute;
		top: 50%;
		left: 38%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90%;
		height: 60%;
		margin: 0 2em;
		background-color: #fff;
		color: var(--greyish-blue);
		align-items: center;
		font-size: 1.6rem;
		z-index: 10;
	}

	.navigation-mobile::after {
		content: '';
		position: absolute;
		top: -3.9rem;
		right: 0;
		width: 4rem;
		height: 4rem;
		background-image: linear-gradient(to right bottom, transparent 50%, var(--white) 50%);
	}

	.options-box-mobile {
		text-align: center;
		list-style: none;
	}

	.nav-option-mobile {
		padding: 1em 1.5em;
	}

	.nav-option-mobile:hover {
		text-transform: uppercase;
		font-family: 'Fraunces', serif;
		color: var(--very-dark-blue);
		background-color: var(--yellow);
		border-radius: 30px;
	}

	.arrow-div {
		top: 25%;
	}

	.header-title {
		text-align: center;
		font-size: 3.4rem;
		letter-spacing: 3px;
		font-weight: 800;
	}

	.arrow {
		height: 60%;
	}
	.options-box {
		flex-direction: column;
	}

	.about {
		flex-direction: column-reverse;
		width: 100%;
		margin-bottom: 2em;
	}
	.text-box {
		align-items: center;
		width: 100%;
		padding: 0;
	}

	.box-title {
		padding: 1em;
		text-align: center;
		font-size: 3.2rem;
		font-weight: 900;
	}

	.text {
		text-align: center;
		margin: 0;
		padding: 0 1em;
		color: var(--dark-greyish-blue);
	}

	.learn {
		text-align: center;
		width: 100%;
	}

	.line {
		/* width: 40%; */
		left: 50%;
		transform: translateX(-50%);
	}

	.img-box {
		width: 100%;
	}
	.image-one {
		background-image: url(./images/mobile/image-transform.jpg);
	}

	.product {
		flex-direction: column;
	}

	.product-box {
		width: 100%;
		height: 80vh;
	}

	.product-text-box {
		padding: 1em;
	}

	.product-title {
		padding: 0.8em;
	}

	.opinions-title {
		padding: 0;
		margin: 1.5em 0.5em;
		font-size: 1.6rem;
	}

	.clients-box {
		flex-direction: column;
		margin: 0.5em;
	}

	.client-photo {
		margin: 1em;
	}

	.client-details {
		margin: 1em;
	}

	.gallery-desktop {
		display: none;
	}

	.gallery-mobile {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.gallery-img {
		width: 100%;
		height: 100%;
	}

	.footer {
		padding: 1em;
	}

	.footer-title {
		margin: 0.5em;
	}

	.footer-nav li {
		margin: 0.5em 1em;
	}

	.social-icon {
		margin: 1.5em 0.5em;
	}
}

.hide {
	display: none;
}
